body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    line-height: 1.7rem;
}

header {
    min-height: 350px;
    width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-image: url('images/harp.png');
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgb(250, 249, 196);
    background-size: cover;
}

h1 {
    line-height: 2.5rem;
}

.subheader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.changeoctamount {
    background-color: orangered;
    height: 30px;
    width: 30px;
    border: 2px solid;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1024px;
    margin: auto;
    display: flex;
    background-color: rgb(221, 178, 61);
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-between;
}

.subcontainer {
    width: 50%;
    padding: 20px;
}


.chordball {
    margin: 5px;
    display: inline-block;
}

.chord {
    border: 2px solid;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.major {
    background-color: rgb(19, 134, 81);
}

.minor {
    background-color: rgb(90, 18, 90);
}

.revselect {
    background-color: rgb(173, 45, 116);
    margin-top: 10px;
}

.reverse {
    background-color: rgb(230, 110, 11);
}

.thingy {
    text-align: center;
    width: 150px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.slider {
    width: 90%;
}

.slidecontainer {
    width: 250px;
    color: black;
    height: 100px;
}

.error {
    background-color: rgb(250, 249, 196);

}

.error-message {
    background-color: red;
}

.doubleselect {
    background-color: rgb(173, 92, 45);
    float: right;
}

.doubled {
    background-color: rgb(25, 102, 25);
}

.loopselect {
    background-color: rgb(0, 247, 255);
    float: right;
    color: black;
}

.looped {
    background-color: rgb(238, 255, 0);
    color: black;
}

.oct {
    float: right;
    margin-top: 20px;
    color: black;
}

.octselect {
    margin-top: 20px;
    color: black;
}

.addoctave {
    display: flex;
    justify-content: space-around;
}

/* .logo {
    margin: 10px auto;
    width: 250px;
    display: flex;
    justify-content: center;
} */

@media (max-width: 1000px) {

body {
    line-height: 1rem;
    font-size: small;
}

.container {
    flex-direction: column;
    width: fit-content;
    margin: 0px;
}

header {
    width: auto;
    flex-direction: column;
    background-image: none;   
    min-height: min-content;
    padding: 0;
}

.subcontainer {
    width: auto;
    padding: 0 12px;
}

.subheader {
    width: auto;
    display: flex;
    height: fit-content;
    flex-direction: row;
}

.chord {
    border: 2px solid;
    border-radius: 100px;
    width: 73px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.thingy {
    text-align: center;
    width: fit-content;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    height: fit-content;
}

.slidecontainer {
    width: 60%;
}

.slider {
    width: 90%;
}

}