{% extends 'base.html' %}
{% block content %}
<div class='row'>
  <h4>Apprehenchmen is a band in Oakland, CA.</h4>
</div>
  <br><br>
<div class='row'>
    <h4>Apprehenchmen consists of:</h4>
</div>
<br>
<div class='row'>
    <h5>Andy Tisdall: vocals, bass</h5>
</div>
<div class='row'>
    <h5>Paul Igaz: drums</h5>
</div>
<div class='row'>
    <h5>Stacey Swan: vocals, keys</h5>
</div>
<div class='row'>
    <h5>Ben Christopher: guitar</h5>
</div>
<br>
<div class='row'>
  <h6>Other bands with Andy in them:</h6>
</div>
<br>
<div class='row'>
  <p><a href="http://zooisaband.bandcamp.com">ZOO</a></p>
</div>
<div class='row'>
  <p><a href="http://blowdry.bandcamp.com">Blow Dry</a> (Ben and Andy)</p>
</div>
<div class='row'>
  <p><a href="http://andytisdall.bandcamp.com">Andy Tisdall</a></p>
</div>
<br>
<div class='row'>
  <h6>Other bands with Paul in them:</h6>
</div>
<br>
<div class='row'>
  <p><a href="https://www.instagram.com/fastexecution/">Fast Execution</a></p>
</div>


{% endblock %}
