{% extends 'base.html' %}
{% block content %}
<div class='row'>
  <h1>Get in Touch</h1>
</div>
<br><br>
<div class='row pb-3'>
  <a href='http://instagram.com/apprehenchmen'><button class='btn btn-danger'>Instagram</button></a>
</div>
<div class='row pb-3'>
  <h5><a href='mailto:apprehenchmen@gmail.com'>apprehenchmen@gmail.com</a></h5>
</div>
<br><br>
<div class='row justify-content-left'>
  <h4>Join the Apprehenchmen Mailing List!</h4>
</div>
<div class='row justify-content-left'>
  <p>We'll tell you about new shows and albums, but not unless it's something actually cool.</p>
</div>
  {% if failure %}
<div class="alert alert-danger" role="alert">
  {{ failure }}
</div>
  {% elif success %}
<div class="alert alert-success" role="alert">
  {{ success }}
</div>
  {% endif %}
</div>
<br>
<div class='row justify-content-left'>
    <form method="POST" action="{% url 'contact' %}" enctype="multipart/form-data">

    {% csrf_token %}

    <p align='left'>Your name:
    <input type="text" name="name" /></p>
    <p align='left'>Your email address:
    <input type="text" name="email" /></p>
    <br>
    <input class="btn btn-primary" type='submit' value="Get on the list" />

    </form>
</div>
{% endblock %}
