{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h1 class="text-center pt-3">Demos</h1>
</div>
<div class="row">
    <h5>Click to listen, right-click to download</h5>
    <br />
    <br />
    <br />
    <br />
</div>
{%for demo in demos.all%}
<div class="row">
    <div class="col-lg-10">
        <div class="row">
            <div class="col-md-1"></div>
            <div class='col-4 col-md-3 text-right p-2 border border-success m-2'>
                <h3 class=><a href='{{ demo.mp3.url }}' target="_blank">{{ demo.name }}</a></h3>
            </div>
            <div class='col-7 col-md-5 p-2 border border-success m-2'>
                <div class='text-left'>
                    <h5>
                        updated {{ demo.date_modified }}
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
{%endfor%}
{% endblock %}