{% extends 'base.html' %}
{% block content %}
<div class="row">
  <h1 class="text-center pt-3">demos</h1>
  <br />
  <br />
  <br />
  <br />
</div>
{%for demo in demos.all%}
<p>
<div class="row pb-3">
    <div class='col-1'>
        <div class="row pr-3">
            <h3><a href= '{{ demo.mp3.url }}' target="_blank">{{ demo.name }}</a></h3>
        </div>
    </div>
    <div class='col-10'>
        <div class='text-left'><h5 class='align-text-bottom'>   |    updated on {{ demo.date_modified }}</h5></div>
    </div>
</div>
</p>
{%endfor%}
{% endblock %}