{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
    <div class="row">
      <h1 class="jumbotron-heading"><b>DRESS TO DISAPPEAR</b></h1>
    </div>
    <div class="row">
      <p class="lead text-muted">The first album by Apprehenchmen</p>
    </div>
    <div class="row">
      <br />
    </div>
    <div class="row">
      <div class="col-md">
        <div class="row">
          <a href="http://apprehenchmen.bandcamp.com">
          <img src='{% static "cover.jpg" %}' class="img-fluid" width="60%" height="auto" alt="Dress to Disappear cover"></a>
        </div>
        <div class="row">
        <br />
        <br />
        </div>
      </div>
      <div class="col-md">
        <div class="row justify-content-center">
          <p class="lead text-muted">Listen/Buy the Album:</p>
        </div>
        <div class="row justify-content-center">
          <div class="card-deck mb-3 text-center">
            <a href="http://apprehenchmen.bandcamp.com" target="_blank"><button type="button" class="btn btn-lg btn-block btn-warning">Bandcamp</button></a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="card-deck mb-3 text-center">
              <a href="https://play.google.com/store/music/album/Apprehenchmen_Dress_to_Disapear?id=Bdz3oorvbnm57xi2yltxmco5hha" target="_blank"><button type="button" class="btn btn-lg btn-block btn-warning">Google Play</button></a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="card-deck mb-3 text-center">
              <a href="https://open.spotify.com/album/59FmgQCIB8Hup6b1ngSwgU" target="_blank"><button type="button" class="btn btn-lg btn-block btn-warning">Spotify</button></a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="card-deck mb-3 text-center">
              <a href="https://music.apple.com/us/album/dress-to-disappear/1483708235?uo=4&app=music&at=1001lry3&ct=dashboard" target="_blank"><button type="button" class="btn btn-lg btn-block btn-warning">Apple Music</button></a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="card-deck mb-3 text-center">
              <a href="https://music.apple.com/us/album/dress-to-disappear/1483708235?uo=4&app=itunes&at=1001lry3&ct=dashboard" target="_blank"><button type="button" class="btn btn-lg btn-block btn-warning">iTunes</button></a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="card-deck mb-3 text-center">
              <a href="http://www.amazon.com/gp/product/B07Z5QP631/?tag=distrokid06-20" target="_blank"><button type="button" class="btn btn-lg btn-block btn-warning">Amazon</button></a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="card-deck mb-3 text-center">
              <a href="https://soundcloud.com/apprehenchmen" target="_blank"><button type="button" class="btn btn-lg btn-block btn-warning">Soundcloud</button></a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
